.container {
  display: flex;
  flex-wrap: wrap;
  width: calc(30vh + (6 * 5px));
}

.code {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25vh;
  width: 100%;

  .codePreview {
    display: flex;
    min-height: 7vh;
    .item {
      display: flex;
      font-size: 1em;
      height: 7vh;
      justify-content: center;
      width: 7vh;
    }
  }

  .validateButton {
    background-color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px grey;
    color: green;
    font-size: .5em;
    margin-top: 10px;

    &[disabled] {
      background-color: darkgrey;
      box-shadow: none;
      color: grey;
    }
  }

  .deleteButton {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px grey;
    color: red;
    font-size: .5em;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px 15px;
  }
}
